.Banner {
  background-color: #0f2d37;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Banner h2 {
  font-family: "Lato",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 285.7%;
  color: #d6d6d6;
  padding-top: 10px;
  padding-bottom: 30px;
}

.Arrow {
  position: absolute;
  top: 880px;
	height: 27px;
	background: #767676;
	border-radius: 50%;
  padding: 12px;
  z-index: 9999;
}

@media screen and (max-width: 1108px) {
  .Banner h2 {
    font-size: 270%;
  }
}

@media screen and (max-width: 580px) {
  .Banner h2 {
    font-size: 240%;
  }
}

@media screen and (max-width: 506px) {
  .Banner h2 {
    font-size: 220%;
  }
}

@media screen and (max-width: 400px) {
  .Banner h2 {
    font-size: 200%;
  }
}

@media screen and (max-width: 350px) {
  .Banner h2 {
    font-size: 180%;
  }
}
