.Banner {
  background-color: #0f2d37;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Banner h2 {
  font-family: "Lato",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 285.7%;
  color: #d6d6d6;
  padding-bottom: 30px;
}

.Arrow {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
	height: 27px;
	background: #767676;
	border-radius: 50%;
  padding: 12px;
  z-index: 9999;
}

@media screen and (max-width: 1108px) {
  .Banner h2 {
    font-size: 270%;
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 1045px) {
  .Banner h2 {
    font-size: 270%;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 566px) {
  .Banner h2 {
    margin-top: 0px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 434px) {
  .Banner h2 {
    font-size: 240%;
    margin-top: 15px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 375px) {
  .Banner h2 {
    font-size: 220%;
    margin-top: 20px;
    padding-bottom: 20px;
  }
}
