footer {
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding-left: 40%;
  padding-right: 40%;
}

footer li{
  list-style: none;
}

footer li a{
  text-decoration: none;
  color: #57a3b6;
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 70%;
  text-transform: uppercase;
}

footer li a:hover{
  color: #036;
}


@media screen and (max-width: 1000px) {
  footer {
    padding-left: 20%;
    padding-right: 20%;
  }
}
